@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  color: #333;
  background: #66a66a;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.icon-menu {
  width: 80px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-1, .line-2, .line-3 {
  width: 80px;
  height: 7px;
  background-color: white;
  border-radius: 10px;
}

.cross-icon, .icon-reverse {
  position: relative;
}

.cross-icon > .line-1,
.cross-icon > .line-2,
.cross-icon > .line-3 {
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.cross-icon > .line-1 {
  top: 0;
  animation-name: move-line-1;
  animation-duration: 0.8s;
}

.cross-icon > .line-2 {
  bottom: 18px;
  animation-name: move-line-2;
  animation-duration: 0.4s;
}

.cross-icon > .line-3 {
  bottom: 0;
  animation-name: move-line-3;
  animation-duration: 0.8s;
}

@keyframes move-line-1 {
  50% {
    transform: translate(0, 25px);
  }

  100%  {
    transform: translate(0px, 25px) rotate(45deg);
  }
}
@keyframes move-line-2 {
  100% {
    transform: scale(0);
  }
}
@keyframes move-line-3 {
  50% {
    transform: translate(0, -18px);
  }

  100%  {
    transform: translate(0px, -18px) rotate(135deg);
  }
}

.icon-reverse > .line-1,
.icon-reverse > .line-2,
.icon-reverse > .line-3 {
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.icon-reverse > .line-1 {
  animation-name: reverse-line-1;
}

.icon-reverse > .line-2 {
  animation-name: reverse-line-2;
  bottom: 21.5px;
}

.icon-reverse > .line-3 {
  bottom: 0;
  animation-name: reverse-line-3;
}

@keyframes reverse-line-1 {
  0%  {
    transform: translate(0px, 25px) rotate(45deg);
  }

  50% {
    transform: translate(0, 25px);
  }

  100% {
    transform: translate(0, 0px);
  }
}
@keyframes reverse-line-2 {
  0%, 50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes reverse-line-3 {
  0%  {
    transform: translate(0px, -18px) rotate(135deg);
  }

  50% {
    transform: translate(0px, -18px)
  }

  100% {
    transform: translate(0, 0px);
  }
}
