@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  color: #333;
  background: white;
  font-family: 'Quicksand', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #1B2237;
  position: relative;
}

.mountain {
  position: absolute;
  bottom: -55px;
  background-color: #2F3C5D;
  border-radius: 50%;
  width: 270px;
  height: 230px;
  right: 35px;
  z-index: 2;
}

.mountain::before {
  display: block;
  content: '';
  bottom: -5px;
  left: -150px;
  width: 230px;
  height: 200px;
  position: absolute;
  background-color: #2F3C5D;
  border-radius: 50%;
}

.mountain::after {
  display: block;
  content: '';
  bottom: 15px;
  right: -140px;
  width: 200px;
  height: 170px;
  position: absolute;
  background-color: #2F3C5D;
  border-radius: 50%;
}

.mountain-back {
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  background-color: #26314F;
  bottom: -65px;
  width: 300px;
  height: 270px;
  right: -78px;
}

.mountain-back::before {
  z-index: 1;
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  background-color: #26314F;
  bottom: 58px;
  width: 250px;
  height: 200px;
  right: 245px;
}

.weather {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
}

.temperature {
  font-size: 55px;
  margin: auto 15px;
}

.wind-humidity {
  margin: auto 70px auto 0;
}

.wind-humidity > p {
  margin: 0;
}

.dates {
  margin: auto 0;
  text-align: end;
}

.dates > p {
  margin: 0;
}

.bolder {
  font-weight: 500;
}

.moon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F6EDBD;
  position: absolute;
  bottom: 80px;
  left: 40px;
  box-shadow: 1px 1px 12px 0px #fffeed;
  animation: moon 2s ease-in-out forwards;
}

.blur {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ECE1A8;
  bottom: 8px;
  position: absolute;
  right: 15px;
}

.two {
  right: 6px;
  top: 14px;
  width: 15px;
  height: 15px;
}

.three {
  left: 20px;
  top: 20px;
  width: 8px;
  height: 8px;
}

.four {
  left: 2px;
  bottom: 20px;
  width: 13px;
  height: 13px;
}

.five {
  left: 30px;
  bottom: 25px;
  width: 7px;
  height: 7px;
}

.six {
  left: 33px;
  top: 3px;
  width: 8px;
  height: 8px;
}

.drops {
  position: relative;
  width: 12px;
  height: 20px;
  transform: translate(395px, 0);
  z-index: 2;
  animation: drops 1s infinite linear;
}

.triangle {
  clip-path: polygon(65% 0%, 0% 100%, 100% 100%);
  background: hsl(206deg 100% 73%);
  width: 10px;
  height: 10px;
  position: absolute;
  right: 1px;
}

.circle {
  width: 12px;
  height: 10px;
  background: hsl(206deg 100% 73%);
  position: absolute;
  top: 6px;
  clip-path: circle(46% at 51% 53%);
}

.rain {
  width: 400px;
  height: 400px;
  display: flex;
}

.d-two {
  transform: translate(365px, -15px);
  animation: d-two 1.2s infinite linear;
}

.d-three {
  transform: translate(335px, -15px);
  animation: d-three 1s infinite linear;
  animation-delay: 0.5s;
}

.d-four {
  transform: translate(305px, -15px);
  animation: d-four 1.1s infinite linear;
}

.d-five {
  transform: translate(250px, -15px);
  animation: d-five 0.8s infinite linear;
}

.d-six {
  transform: translate(200px, -15px);
  animation: d-six 0.9s infinite linear;
}

.d-seven {
  transform: translate(150px, -15px);
  animation: d-seven 1s infinite linear;
}

.d-eight {
  transform: translate(100px, -15px);
  animation: d-eight 0.7s infinite linear;
}

.d-nine {
  transform: translate(50px, -15px);
  animation: d-nine 1.1s infinite linear;
}

.d-ten {
  transform: translate(-58px, -15px);
  animation: d-ten 0.8s infinite linear;
}

.d-mini {
  transform: translate(200px, 0);
  animation: d-mini 1s infinite linear;
  opacity: 0.3;
}

.t-mini {
  width: 8px;
  height: 8px;
}

.c-mini {
  width: 100%;
  height: 100%;
  top: 6px;
  left: 0;
  clip-path: circle(25% at 59% 17%);
}

.d-mini-two {
  transform: translate(150px, 0);
  animation: d-mini-two 1.1s infinite linear;
  opacity: 0.5;
}

.d-mini-three {
  transform: translate(70px, 0);
  animation: d-mini-three 0.7s infinite linear;
  opacity: 0.6;
}

.d-mini-four {
  transform: translate(0, 0);
  animation: d-mini-four 0.8s infinite linear;
  opacity: 0.4;
}

.d-mini-four {
  transform: translate(-50px, 0);
  animation: d-mini-five 1s infinite linear;
  opacity: 0.4;
}

@keyframes moon {
  100% {
    transform: translate(0, -200px);
  }
}

@keyframes drops {
  85% {
    transform: translate(360px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(360px, 310px) scaleX(3) scaleY(0);
  }
}

@keyframes d-two {
  85% {
    transform: translate(310px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(310px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-three {
  85% {
    transform: translate(260px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(260px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-four {
  85% {
    transform: translate(210px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(210px, 320px)  scaleX(3) scaleY(0);
  }
}

@keyframes d-five {
  85% {
    transform: translate(150px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(150px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-six {
  85% {
    transform: translate(100px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(100px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-seven {
  85% {
    transform: translate(45px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(45px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-eight {
  85% {
    transform: translate(-5px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(-5px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-nine {
  85% {
    transform: translate(-60px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(-60px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-ten {
  85% {
    transform: translate(-120px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(-120px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-mini {
  85% {
    transform: translate(85px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(85px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-mini-two {
  85% {
    transform: translate(35px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(35px, 320px)  scaleX(3) scaleY(0);
  }
}

@keyframes d-mini-three {
  85% {
    transform: translate(-50px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(-50px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-mini-four {
  85% {
    transform: translate(-105px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(-105px, 320px) scaleX(3) scaleY(0);
  }
}

@keyframes d-mini-five {
  85% {
    transform: translate(-155px, 290px) scaleX(0.5) scaleY(0.5);
  }
  100% {
    transform: translate(-155px, 320px) scaleX(3) scaleY(0);
  }
}