@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  color: #333;
  background: white;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: black;
  filter: contrast(25);
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  filter: blur(6px);
  position: relative;
}

.ink {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: rotation 3s ease-in-out infinite;
  filter: blur(4px);
}

.one {
  transform-origin: bottom left;
  width: 50px;
  height: 45px;
  right: 10px;
  bottom: 55%;
}

.two {
  transform-origin: top right;
  width: 35px;
  height: 35px;
  bottom: 0;
  right: 0;
  animation-duration: 4s;
}

.three {
  transform-origin: top right;
  width: 20px;
  height: 20px;
  animation-duration: 2s;
  top: 50%;
  bottom: 50%;
  left: -6px;
}

.bubbles {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
}

.bubbles::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform-origin: 50px 50px;
  background-color: white;
  animation: rotation 3s ease-in-out infinite;
  border: 1px solid rgb(255 179 64 / 65%);
}

.b-two::before {
  width: 15px;
  height: 15px;
  transform-origin: -50px 50px;
}

.b-three::before {
  width: 25px;
  height: 25px;
  transform-origin: -50px -50px;
  animation-duration: 4s;
}

.b-four::before {
  width: 30px;
  height: 30px;
  transform-origin: 50px -50px;
  animation-duration: 7s;
}

.b-five::before {
  width: 15px;
  height: 15px;
  transform-origin: 10px -100px;
  animation-duration: 5s;
}

.b-six::before {
  width: 25px;
  height: 25px;
  transform-origin: -20px 50px;
  animation-duration: 2s;
}

.b-seven::before {
  width: 30px;
  height: 30px;
  transform-origin: -20px -30px;
}

.b-eight::before {
  transform-origin: 30px 70px;
  animation-duration: 2s;
}

.b-nine::before {
  width: 15px;
  height: 15px;
  transform-origin: -30px -70px;
  animation-duration: 5s;
}


@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}